<!-- <router-outlet></router-outlet> -->

<h3>Ingrese las edades a calcular:</h3>
<label for="">Edad 1</label>
<input type="number" [(ngModel)]="edad1" />
<label for="">Edad 2</label>
<input type="number" [(ngModel)]="edad2" />

<button (click)="calcular()">Calcular</button>
<button (click)="borrar()">Borrar</button>

<br /><br /><br /><br />
<label for="">Resultado de la Suma</label>
<input type="number" [(ngModel)]="resultadoSuma" />
<label for="">Resultado del promedio:</label>
<input type="number" [(ngModel)]="resultadoPromedio" />
